<img style="float: left; width: 100px;" src="../logo.png"  alt="Drawing"/>

# [Solutions] Intro to Data Science - Exploratory Data Analysis with Pandas

## Table of Contents:
1. ### [Introduction to Data Science](#intro)
2. ### [A first look at data](#first)
3. ### [More control with select, filter and sort](#more)
4. ### [Joins and aggregation](#agg)
5. ### [Visualization](#viz)
6. ### [Time Series](#time)

# 1. Introduction to Data Science <a class="anchor" id="intro"></a>

Data science is about creating value from data. This could simply be:
1. using the data to answer questions on your mind, 
2. extracting insights to better allocate resources, or 
3. automating a task.

## Data Analysis

A fundamental skill for doing data science is data analysis and exploration. Before any kind of modeling, we should understand the data first.

### What is Pandas?

Pandas is an open-source library in Python for data manipulation and analysis.

Pandas was built on NumPy, a scientific computation library in Python.

### What is a DataFrame?
In pandas, a DataFrame object is a two-dimensional tabular data structure. You can think of it like a spreadsheet.

In [4]:
import pandas as pd

### Read in data

You can load many data from many different sources with pandas (csv, json, html, SQL, excel, ...) but today we are reading from a comma seperated values (csv) file.

We are reading the data into a variable named 'df_movies'

In [6]:
# .read_csv()

# 2. A first look at data  <a class="anchor" id="first"></a>
This section will introduce some methods to help us take a high level look of the data.

In this movie dataset, each row is an observation and each column is an attribute/feature/variable

In [7]:
# .shape

There are 5043 rows and 38 columns

### head() and tail()

To look at the first n rows of the DataFrame, we use the head() method. We can specify the number of rows to look at. Default is 5

In [9]:
# .head()

To look at the last n rows, we use the tail() method.

In [10]:
# .tail()

### List of all column names

In [13]:
# .columns

### Data types

Each column in a DataFrame has a data type.

In [14]:
# .dtypes

### Numeric summary

In [15]:
# .describe() # for numerical data

### Missing values

Missing values are common in real-world data. In this workshop we will just drop all the rows which contain missing value(s).

In [16]:
# .dropna()

# 3. More control with select, filter and sort   <a class="anchor" id="more"></a>

In Pandas, the indexing operators are the square brackets [ ]

### Selecting columns

In [10]:
df_movies['director_name'].head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
5       Andrew Stanton
Name: director_name, dtype: object

We can also use the attribute operator (.)

In [11]:
df_movies.director_name.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
5       Andrew Stanton
Name: director_name, dtype: object

To select multiple columns, we have to put the column names in a list within the indexing operator

In [12]:
df_movies[['director_name', 'movie_title']].head()

       director_name                                movie_title
0      James Cameron                                    Avatar
1     Gore Verbinski  Pirates of the Caribbean: At World's End
2         Sam Mendes                                   Spectre
3  Christopher Nolan                     The Dark Knight Rises
5     Andrew Stanton                               John Carter

### Select columns by their data types

use the select_dtypes() method

In [13]:
df_movies.select_dtypes(['object']).head()

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
0,Color,James Cameron,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13
1,Color,Gore Verbinski,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,PG-13
2,Color,Sam Mendes,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,PG-13
3,Color,Christopher Nolan,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,PG-13
5,Color,Andrew Stanton,Samantha Morton,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,Polly Walker,alien|american civil war|male nipple|mars|prin...,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,English,USA,PG-13

In [14]:
df_movies.select_dtypes(['float', 'int']).head()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,723.0,178.0,0.0,855.0,1000.0,760505847.0,886204,4834,0.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78,33000
1,302.0,169.0,563.0,1000.0,40000.0,309404152.0,471220,48350,0.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35,0
2,602.0,148.0,0.0,161.0,11000.0,200074175.0,275868,11700,1.0,994.0,245000000.0,2015.0,393.0,6.8,2.35,85000
3,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,1144337,106759,0.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,462.0,132.0,475.0,530.0,640.0,73058679.0,212204,1873,1.0,738.0,263700000.0,2012.0,632.0,6.6,2.35,24000

### Filtering rows

To filter rows we again will use the indexing operator (square brackets).

The basic form for filtering is: DataFrame[expression]

Lets explore the films directed by Christopher Nolan

In [15]:
# walkthrough
df_movies[df_movies['director_name'] == 'Christopher Nolan']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
66,Color,Christopher Nolan,645.0,152.0,22000.0,11000.0,Heath Ledger,23000.0,533316061.0,Action|Crime|Drama|Thriller,...,4667.0,English,USA,PG-13,185000000.0,2008.0,13000.0,9.0,2.35,37000
96,Color,Christopher Nolan,712.0,169.0,22000.0,6000.0,Anne Hathaway,11000.0,187991439.0,Adventure|Drama|Sci-Fi,...,2725.0,English,USA,PG-13,165000000.0,2014.0,11000.0,8.6,2.35,349000
97,Color,Christopher Nolan,642.0,148.0,22000.0,23000.0,Tom Hardy,29000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,...,2803.0,English,USA,PG-13,160000000.0,2010.0,27000.0,8.8,2.35,175000
120,Color,Christopher Nolan,478.0,128.0,22000.0,11000.0,Liam Neeson,23000.0,205343774.0,Action|Adventure,...,2685.0,English,USA,PG-13,150000000.0,2005.0,14000.0,8.3,2.35,15000
1066,Color,Christopher Nolan,185.0,118.0,22000.0,319.0,Maura Tierney,14000.0,67263182.0,Drama|Mystery|Thriller,...,651.0,English,USA,R,46000000.0,2002.0,509.0,7.2,2.35,0
1233,Color,Christopher Nolan,341.0,130.0,22000.0,19000.0,Hugh Jackman,23000.0,53082743.0,Drama|Mystery|Sci-Fi|Thriller,...,1100.0,English,USA,PG-13,40000000.0,2006.0,20000.0,8.5,2.35,49000
3716,Black and White,Christopher Nolan,274.0,113.0,22000.0,379.0,Thomas Lennon,716.0,25530884.0,Mystery|Thriller,...,2067.0,English,USA,R,9000000.0,2000.0,651.0,8.5,2.35,40000

How many films were directed by Christopher Nolan?

We can use both the ```shape``` attribute or len to find out

In [16]:
df_nolan = df_movies[df_movies['director_name'] == 'Christopher Nolan']

print(df_nolan.shape[0]) # shape[0] is the number of rows, while shape[1] is the number of columns
print(len(df_nolan))

8
8

Lets filter rows and columns at the same time.

Find the movie titles and years of all the films directed by Christopher Nolan

In [17]:
df_nolan = df_movies[df_movies['director_name'] == 'Christopher Nolan'] # filter movies directed by Christopher Nolan

df_nolan[['movie_title', 'title_year']] # Select the movie_title and title_year columns

                 movie_title  title_year
3     The Dark Knight Rises       2012.0
66          The Dark Knight       2008.0
96             Interstellar       2014.0
97                Inception       2010.0
120           Batman Begins       2005.0
1066               Insomnia       2002.0
1233           The Prestige       2006.0
3716                Memento       2000.0

To join multiple expressions:
* & (and)
* | (or)

How many movies are between 150 and 200 minutes long?

In [20]:
df_medium_length = df_movies[(df_movies['duration'] > 150) & (df_movies['duration'] < 200)]
len(df_medium_length)

132

How many movies were released in either the USA or Canada?

In [22]:
df_USA_Canada = df_movies[(df_movies['country'] == 'USA') | (df_movies['country'] == 'Canada')]
len(df_USA_Canada)

3046

### Sorting Values

To sort a DataFrame we use the sort_values() method

In [17]:
# .sort_values() on ''duration''

## Exercise 3.1

Find all the movies where the main actor (`actor_1_name`) is either Tom Hardy or Hugh Jackman

## Exercise 3.2

How many movies were released between 2000 and 2005 (inclusive) ?

## Exercise 3.3

Show the title (`title_name`), director (`director_name`) and imdb score (`imdb_score`)
of the top 10 movies based on `imdb_score`

### Note: Data science is all about asking the right questions and then answering them.  We will try to answer some simple questions about the dataset

# 4. Joins and aggregation <a class="anchor" id="agg"></a>

### Exercise 4.1: Are there directors are also lead actors in movies. 
Right now we only care about the name and year of the movies they directed and acted.

In [18]:
# Make a dataframe with ['movie_title', 'title_year'] indexed by 'director_name'
# .set_index()
# .ix[?, ?]

In [19]:
# Make a dataframe with ['movie_title', 'title_year'] indexed by 'actor_1_name'
# .set_index()
# .ix[?, ?]

In [20]:
# Inner join the two dataframes we prepared
# .join()

### Exercise 4.2:  Just how many of these actor/director are there? Did they start out acting or directing?

In [21]:
# len()
# .groupby()

Let's look at one acting/directing movie pair for each person

In [22]:
# .first()

In [23]:
# .mean()

People say directing is more prestigeous than acting. Do we see peole moving from acting to directing?

In [25]:
# df[? > ?]
# .shape

# 5. Visualization <a class="anchor" id="viz"></a>

### Exercise 5.1:  Did Rober Downey Jr.'s movie get more and more successful (i.e. 'gross' higher with 'title_year')? Visualize this.

In [26]:
# .sort_values()
# .plot()

### Exercise 5.2:   What's correlated with 'gross'? 
Some candidates may be ['imdb_score', 'movie_facebook_likes', 'actor_1_facebook_likes', 'director_facebook_likes', 'title_year', 'num_user_for_reviews']

In [27]:
# .corr()

In [38]:
# Let's use seaborn (a visualization library built on top of matplotlib with pretty colours)
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
# sns.heatmap()

# 6. Time Series <a class="anchor" id="time"></a>

In [29]:
# parse_dates=['title_year']

In [32]:
# ['title_year', 'gross']

In [31]:
# .resample('10AS')
# .mean()
# .plot(kind='bar', x=df_10_year.index.year)

In [33]:
# plt.xticks(rotation=90)
# sns.violinplot(data=df_after_2000)